.button {
    font-family: 'Handwriting', sans-serif;
    background-color: #5582e4;
    border: 2px solid #e6e6e6;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    line-height: 1;
    overflow: hidden;
    padding: 6px 16px 6px 16px;
    transition: box-shadow .15s,transform .15s;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-weight: 600;
    font-size: calc(12px + 1.5vw);
}

.button:hover {
    box-shadow: white 0 2px 4px;
}

.button:active {
    transform: translateY(2px);
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .button {
        font-size: calc(14px + 1vw);
    }
}

@media only screen and (max-width: 600px) {
    .button {
        font-size: calc(14px + 2vw);
        padding: 8px 8px 5px 8px;
    }
}