.button {
    font-family: 'Handwriting', sans-serif;
    align-items: center;
    appearance: none;
    background-color: #5582e4;
    border: 2px solid white;
    border-radius: 3px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding: 6px 16px 6px 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-weight: 600;
    font-size: 30px;
}

.button:hover {
    box-shadow: white 0 2px 4px;
}

.button:active {
    transform: translateY(2px);
}