.timer-container {
    display: flex;
    margin: 18vh 0 0 0;
    position: relative;
}

.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
}

.timer-background-focus,
.timer-background-break {
    position: absolute; /* Now these are absolutely positioned */
    width: 60vmin;
    height: 53vmin;
}

.timer-background-break {
    top: -6rem;
    z-index: -2;
    margin: 0 4rem 0 0;
}

.timer-background-focus {
    top: -8rem;
    z-index: -1;
}

.clock {
    font-size: 15vmin;
    color: white;
    white-space: nowrap;
    overflow: hidden;
}

.buttons {
    margin: 5rem 0 0 0;
    display: flex;
}

.button {
    margin: 0 10px 0 10px;
}

.adjust {
    margin: 0 20px 0 20px;
}

@media only screen and (max-width: 600px) {
    .timer-container {
        margin: 15vh 0 0 0;
        justify-content: center;
    }

    .timer-background-focus,
    .timer-background-break {
        width: 80vmin;
        height: 75vmin;
    }

    .timer-background-break {
        top: -4rem;
    }

    .timer-background-focus {
        top: -5rem;
    }

    .clock {
        font-size: 17vmin;
    }

    .buttons {
        margin: 3rem 0 0 0;
    }

    .button, .adjust {
        margin: 0 5px;
    }
}

/* Tablets */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .timer-container {
        margin: 15vh 10vw 0 0;
    }

    .timer-background-focus,
    .timer-background-break {
        width: 45vmax;
        height: 38vmax;
    }

    .timer-background-break {
        top: -3rem;
    }

    .timer-background-focus {
        top: -5rem;
    }

    .clock {
        font-size: 13vmax;
    }

    .buttons {
        margin: 2rem 0 0 0;
    }

    .button, .adjust {
        margin: 0 8px;
    }

    .timer {
        display: flex;
        flex-direction: column;
    }
}