html {
    font-family: 'Montserrat', serif;
}

.app-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.timer {
    flex: 1 0 0;
    display: flex;
    justify-content: center;
}

.settings {
    display: flex;
    justify-content: flex-end;
}


input[type=checkbox] {
    width: 1rem;
    height: 1rem;
    accent-color: deeppink;
}

input {
    border: 0;
    padding: 8px 0 8px 8px;
}

input[type=number] {
    -moz-appearance: textfield;
}