@import url('https://fonts.cdnfonts.com/css/handwriting');



html {
    font-family: 'Handwriting', sans-serif;
    background-color: white;
    background-image: repeating-linear-gradient(to right,
                       transparent 0px, transparent 48px,
                       #d4e5ff 48px, #d4e5ff 49px),
                       repeating-linear-gradient(to bottom,
                       transparent 0px, transparent 48px,
                       #d4e5ff 48px, #d4e5ff 49px);
    background-size: 50px 50px;
}

.app-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.settings {
    display: flex;
    justify-content: flex-end;
}


input[type=checkbox] {
    width: 1rem;
    height: 1rem;
    accent-color: deeppink;
}

input {
    border: 0;
    padding: 8px 0 8px 8px;
}

input[type=number] {
    -moz-appearance: textfield;
}